*{margin:0;font-family:arial}
.headline {background-color:#9AC559; font-size:20px; color:white; text-align:center; margin-bottom: 0px;}
nav {display:flex;background-color:white; border-radius:50px;width:85%;margin-left:10%; position:fixed; z-index:1; height:5.4em; margin-top:20px;box-shadow:1px 3px 20px #000000; align-content: center;}
nav img{width:130px; margin-left:40px}
.nav_txt {font-weight:bold;  padding-left:2em; margin-top:2.2em; color:#666666}
.nav_img{display:flex}
.nav-link:hover {color:#6ab978}
.nav-link {display: inline-block;position: relative;}
.nav-link::after {content: '';position: absolute;width: 100%;transform: scaleX(0);height: 2px;bottom: 0;left: 0;background-color: #6ab978;transition: transform 0.25s ease-out;}
.nav-link:hover::after {transform: scaleX(1)}
.nav-link::after {transform-origin: bottom center;}
.nav-link:hover::after {transform-origin: bottom center;}
.menu, .submenu {list-style-type: none;margin: 0;padding: 0;}
.menu {display: flex;background-color: white;}
.menu li a {display: block;padding: 15px 20px;color: gray;text-decoration: none;}
.menu li a:hover {background-color: #ffffff;color:#3e8e41}
.submenu {display: none;position: absolute;background-color: #ffffff;border:7px solid rgb(255, 255, 255);min-width: 160px;z-index: 1;color: gray;}
.submenu li a {padding: 12px 16px;color: gray;font-weight:bold;}
.submenu li a:hover {background-color: #6ab978; color:#ffffff}
.has-submenu:hover .submenu {display: block;}
.farm-btn {color:#FFFFFF; border:none;background-color:#6ab978; padding:0.6em 1em; margin-top:0.2em; margin-left:4em; font-size:1em; border-radius:10px; font-weight:bold}
.vd{width:100%; display: flex; display:inline-block }
.vl{border-right:1px solid gray; height:3.6em; margin-top:0.9em; margin-left:1em}
.search_icon{background-color:#6ab978; height:2em; width:2em; border-radius:70px}
.cart_icon{background-color:#6ab978; height:2em; width:2em; border-radius:70px}
.user_icon{background-color:#6ab978; height:2em; width:2em; border-radius:70px}
.con_bg{width:100%; margin-top:5em; background-color:skyblue}
.tagline{font-weight:bold}
.container{display:flex;width:90%; height:auto; margin-top: 20vh; margin:auto; margin-top:20vh;justify-content:space-between}
.book-btn{width:15%; flex-direction:row}
.content{flex-direction: column}
.btn{float:right; padding-bottom:100px;border:none; background-color: #6ab978; color:white;font-weight: bold; padding:1%; height:70%;width:100%;border-radius: 15px;}
.accommodation{font-weight: bold;font-style: italic;}
.person{margin:1%; text-align:right;display:block; font-size:25px}
.person1{margin:1%; text-align:right;display:block; font-size:20px}
.person2{margin:1%; text-align:right;display:block; font-size:15px}
.share{font-size:20px;display:flex}
.e-far-envelope-open{width:20px;background-color: #6ab978;fill: white;height:59px; width: 60px; border-radius:100px; padding: 10px}
.share-img{width:40px}
.img-container{display:flex;width:90%;margin:auto;justify-content:center; margin-top:6vh}
.photo-grid {display: grid;grid-template-columns: repeat(4, 1fr);grid-template-rows: repeat(2, 200px); gap: 15px;padding: 15px}
.item img {width: 100%;height: 100%;object-fit: cover;border-radius: 12px}
.large {grid-column: span 2;grid-row: span 2;}
@media (max-width: 768px) {
  .photo-grid {grid-template-columns: 1fr;grid-template-rows: auto}
  .large {grid-column: span 1;grid-row: span 1}
}
.overview-txt{width:90%; margin:auto; width:68%}
.overview{display:block; font-weight:bold}
.overview-txt p{color:#7A7A7A; font-size:17px}
.overview-txt ul li{list-style-type: none; display:flex; flex-direction:column;}
.explore-btn-container{display:flex;justify-content: space-between}
.explore-btn img{display:block; margin:auto}
.explore-btn{background-color:white; border:1px solid #666666; border-radius: 10px; height:10vh; color:#666666;margin-left:20px}
.package-iclude{font-weight: bold;}
.explore-btn img{width:20px}

.activities-img{background-color:white; border:1px solid #666666; border-radius: 10px; height:20vh; color:#666666;text-align:center}
.activities-img img{display:block;margin:auto; width:50%;margin-left: auto;margin-right: auto; padding-top:30px}
.activites-grid-container{display:grid; grid-template-columns: repeat(7, 1fr); gap:10px}
.activites-grid-container1{display:grid; grid-template-columns:1fr 1fr 1fr 1fr 1fr; gap:10px; width:70%}
.included-activities{font-weight:bold}
.please{color:#7A7A7A; font-weight: bold; font-style: italic;}
.price-cost{width:100%;color:#7A7A7A;position: absolute;}



.activities-card {background-color: #fff;border-radius: 10px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);text-align: center;padding: 15px;transition: transform 0.3s;cursor: pointer;}
.activities-card:hover {transform: translateY(-5px);}
.activities-card img {max-width: 60%; height: auto;}
.card-content h3 {margin: 10px 0 5px 0;color: #333;}
.card-content p {margin: 0;color: #666;}

.e-far-calendar-check{width:20px; margin-top:2%; margin-right:2%}
.e-fas-handshake{width:60px; margin-top:2%; margin-right:2%}
.rules{border: 1px solid gray; display:flex; border-radius:10px;flex-direction:column}
.time{display:flex;margin-left:5vh}
.time-txt{margin-left:25vh; margin-top:2%; color:#333333;width:10vh;width:100%;position: absolute;margin-left: 25%;}
.organizational-txt{width:500px;font-weight:bold;margin:auto}
.text{width:20vh;font-weight:bold; margin-top:auto; float: left}
.time-discription{margin-left:10vh; margin-top:2%; color:#333333;width:100%}
.time-discription ul li{ list-style-type: disc;}
.time-discription ul li::marker{content:"."; color:black; font-size:1em}
ul.b{list-style-type: square;}
.last-disc{font-weight:bold}
.group-discription{margin-left:30vh; margin-top:2%; color:#333333;width:60%}

.discover-display-grid{display:grid;grid-template-columns: 1fr 1fr 1fr; gap:10px;animation:fadeUp both; animation-timeline: view();}
@keyframes fadeUp {
  form { opacity: 0;transform:translateY(1000px)};
  to {opacity: 1;transform: translateY(0);}
}

.card1{background-color: rgb(255, 255, 255); border-radius: 15px;margin-bottom:20px;transition-property:box-shadow; transition-duration: 500ms; transition-timing-function: ease; transition-delay: 0s;border:solid 1px rgb(202, 202, 202)}
.card1:hover{box-shadow: 5px 5px 15px rgb(185, 185, 185)}
.card1-img{width:100%;border-radius: 15px; height:auto; aspect-ratio: 4.5/3;}/*width: 100%; height:60%; object-fit: cover;*/
.card2-img{width:100%;border-radius: 15px}
.card3-img{width:100%;border-radius: 15px}
.card4-img{width:100%;border-radius: 15px}
.card5-img{width:100%;border-radius: 15px}
.card6-img{width:100%;border-radius: 15px}
.card1tagline{font-weight:bold; font-style:italic;margin-left:10px}
.card1-price{font-weight:bold; font-style:italic;margin-left:10px}
.card1-btn{float:right; background-color:#61CE70; border:none;padding:1vh;margin-right:10px ;color:white;border-radius: 10px;margin-bottom:2vh}
.card1-title{margin-top:2vh;margin-left:10px}

.card2{background-color: rgb(255, 255, 255); border-radius: 15px;margin-bottom:20px;transition-property:box-shadow; transition-duration: 500ms; transition-timing-function: ease; transition-delay: 0s;border:solid 1px rgb(202, 202, 202)}
.card2:hover{box-shadow: 5px 5px 15px rgb(185, 185, 185)}
.card2tagline{font-weight:bold; font-style:italic;margin-left:10px}
.card2-price{font-weight:bold; font-style:italic;margin-left:10px}
.card2-btn{float:right; background-color:#61CE70; border:none;padding:1vh;margin-right:10px ;color:white;border-radius: 10px;margin-bottom:2vh}
.card2-title{margin-top:2vh;margin-left:10px}

.card3{background-color: rgb(255, 255, 255); border-radius: 15px;margin-bottom:20px;transition-property:box-shadow; transition-duration: 500ms; transition-timing-function: ease; transition-delay: 0s;border:solid 1px rgb(202, 202, 202)}
.card3:hover{box-shadow: 5px 5px 15px rgb(185, 185, 185)}
.card3tagline{font-weight:bold; font-style:italic;margin-left:10px}
.card3-price{font-weight:bold; font-style:italic;margin-left:10px}
.card3-btn{float:right; background-color:#61CE70; border:none;padding:1vh;margin-right:10px ;color:white;border-radius: 10px;margin-bottom:2vh}
.card3-title{margin-top:2vh;margin-left:10px}

.card4{background-color: rgb(255, 255, 255); border-radius: 15px;margin-bottom:20px;transition-property:box-shadow; transition-duration: 500ms; transition-timing-function: ease; transition-delay: 0s;border:solid 1px rgb(202, 202, 202)}
.card4:hover{box-shadow: 5px 5px 15px rgb(185, 185, 185)}
.card4tagline{font-weight:bold; font-style:italic;margin-left:10px}
.card4-price{font-weight:bold; font-style:italic;margin-left:10px}
.card4-btn{float:right; background-color:#61CE70; border:none;padding:1vh;margin-right:10px ;color:white;border-radius: 10px;margin-bottom:2vh}
.card4-title{margin-top:2vh;margin-left:10px}

.card5{background-color: rgb(255, 255, 255); border-radius: 15px;margin-bottom:20px;transition-property:box-shadow; transition-duration: 500ms; transition-timing-function: ease; transition-delay: 0s;border:solid 1px rgb(202, 202, 202)}
.card5:hover{box-shadow: 5px 5px 15px rgb(185, 185, 185)}
.card5tagline{font-weight:bold; font-style:italic;margin-left:10px}
.card5-price{font-weight:bold; font-style:italic;margin-left:10px}
.card5-btn{float:right; background-color:#61CE70; border:none;padding:1vh;margin-right:10px ;color:white;border-radius: 10px;margin-bottom:2vh}
.card5-title{margin-top:2vh;margin-left:10px}

.card6{background-color: rgb(255, 255, 255); border-radius: 15px;margin-bottom:20px;transition-property:box-shadow; transition-duration: 500ms; transition-timing-function: ease; transition-delay: 0s;border:solid 1px rgb(202, 202, 202)}
.card6:hover{box-shadow: 5px 5px 15px rgb(185, 185, 185)}
.card6tagline{font-weight:bold; font-style:italic;margin-left:10px}
.card6-price{font-weight:bold; font-style:italic;margin-left:10px}
.card6-btn{float:right; background-color:#61CE70; border:none;padding:1vh;margin-right:10px ;color:white;border-radius: 10px;margin-bottom:2vh}
.card6-title{margin-top:2vh;margin-left:10px}


.footer{width:100%;margin-top:10vh}