*{margin:0;font-family:arial}
.headline {background-color:#9AC559; font-size:20px; color:white; text-align:center; margin-bottom: 0px;}
nav {display:flex;background-color:white; border-radius:50px;width:85%;margin-left:10%; position:fixed; z-index:1; height:5.4em; margin-top:20px;box-shadow:1px 3px 20px #000000; align-content: center;}
nav img{width:130px; margin-left:40px}
.nav_txt {font-weight:bold;  padding-left:2em; margin-top:2.2em; color:#666666}
.nav_img{display:flex}
.nav-link:hover {color:#6ab978}
.nav-link {display: inline-block;position: relative;}
.nav-link::after {content: '';position: absolute;width: 100%;transform: scaleX(0);height: 2px;bottom: 0;left: 0;background-color: #6ab978;transition: transform 0.25s ease-out;}
.nav-link:hover::after {transform: scaleX(1)}
.nav-link::after {transform-origin: bottom center;}
.nav-link:hover::after {transform-origin: bottom center;}
.menu, .submenu {list-style-type: none;margin: 0;padding: 0;}
.menu {display: flex;background-color: white;}
.menu li a {display: block;padding: 15px 20px;color: gray;text-decoration: none;}
.menu li a:hover {background-color: #ffffff;color:#3e8e41}
.submenu {display: none;position: absolute;background-color: #ffffff;border:7px solid rgb(255, 255, 255);min-width: 160px;z-index: 1;color: gray;}
.submenu li a {padding: 12px 16px;color: gray;font-weight:bold;}
.submenu li a:hover {background-color: #6ab978; color:#ffffff}
.has-submenu:hover .submenu {display: block;}
.farm-btn {color:#FFFFFF; border:none;background-color:#6ab978; padding:0.6em 1em; margin-top:0.2em; margin-left:4em; font-size:1em; border-radius:10px; font-weight:bold}
.vd{width:100%; display: flex; display:inline-block }
.vl{border-right:1px solid gray; height:3.6em; margin-top:0.9em; margin-left:1em}
.search_icon{background-color:#6ab978; height:2em; width:2em; border-radius:70px}
.cart_icon{background-color:#6ab978; height:2em; width:2em; border-radius:70px}
.user_icon{background-color:#6ab978; height:2em; width:2em; border-radius:70px}
.con_bg{width:100%; margin-top:5em; background-color:skyblue}
.tagline{font-weight:bold}
.container{display:flex;width:90%; height:auto; margin-top: 20vh; margin:auto; margin-top:20vh;justify-content:space-between}
.book-btn{width:15%; flex-direction:row}
.content{flex-direction: column}
.btn{float:right; padding-bottom:100px;border:none; background-color: #6ab978; color:white;font-weight: bold; padding:1%; height:70%;width:100%;border-radius: 15px;}
.accommodation{font-weight: bold;font-style: italic;}
.person{margin:1%; text-align:right;display:block; font-size:25px}
.person1{margin:1%; text-align:right;display:block; font-size:20px}
.person2{margin:1%; text-align:right;display:block; font-size:15px}
.share{font-size:20px;display:flex}
.e-far-envelope-open{width:20px;background-color: #6ab978;fill: white;height:59px; width: 60px; border-radius:100px; padding: 10px}
.share-img{width:40px}
.img-container{display:flex;width:90%;margin:auto;justify-content:center; margin-top:6vh}
.photo-grid {display: grid;grid-template-columns: repeat(4, 1fr);grid-template-rows: repeat(2, 200px); gap: 15px;padding: 15px}
.item img {width: 100%;height: 100%;object-fit: cover;border-radius: 12px}
.large {grid-column: span 2;grid-row: span 2;}
@media (max-width: 768px) {
  .photo-grid {grid-template-columns: 1fr;grid-template-rows: auto}
  .large {grid-column: span 1;grid-row: span 1}
}
.overview-txt{width:90%; margin:auto; width:68%}
.overview{display:block; font-weight:bold}
.overview-txt p{color:#7A7A7A; font-size:17px}
.overview-txt ul li{list-style-type: none; display:flex; flex-direction:column;}
.explore-btn-container{display:flex;justify-content: space-between}
.explore-btn img{display:block; margin:auto}
.explore-btn{background-color:white; border:1px solid #666666; border-radius: 10px; height:10vh; color:#666666;margin-left:20px}
.package-iclude{font-weight: bold;}
.explore-btn img{width:20px}


.container{width:80%; align-content: center; margin: auto;margin-top:140px;margin-bottom: 50px;}
.header-container{width:90%; text-align: start;}
.header-pattern{transform: rotate(-80deg);position:absolute; margin:0}
.header-text{margin-left: 20px; margin-top:18px;font-family:rubik; font-weight:800;font-size:50px;color:#373547}
.crop-container-img{width:100%;float:right}
.container-1{display: flex; flex-direction: column; margin-top: 6%;height:auto}
.container-disc{margin-left: 20px; width:80%;color:#666666}
.container-underline{position: absolute;z-index:-2;margin-top: -10px;margin-left:20px}
.crop-about-img{width:500px}
.about-dis{font-weight: bold; font-style: italic;}
.about-activites{text-align: center;margin:0;font-family:rubik; font-weight:800;font-size:32px;color:#373547; font-size:48px}
.about-underline{margin-left: 28vw;width:260px;margin-top:0}
.about-info{width:67%;margin:auto; font-size: 20px; color:#7A7A7A}
.agro-headline{color:#6ab978; font-size:28px; font-weight:bold}

.rubik{  font-family: "Rubik", sans-serif; font-optical-sizing: auto;font-style: normal;}

.container2{background-color:#F9F9F9; padding-bottom: 50px;}
.container2-dis{width:68%; align-content: center; margin:auto;padding-top: 100px;}
.container2-activites{margin:0;font-family:rubik; font-weight:800;font-size:32px;color:#373547}
.activities-pattern{margin-top: -30px;}
.activities-underline{margin-left: 8vw;width:260px;margin-top:0}
.container2-note{width:80%;color:#666666; font-style:italic}
.images-grid{display:grid; grid-template-columns:repeat(4, 1fr);gap:20px;width:68%;align-content: center;margin:auto}
.card{width:100%;border-radius: 15px; transition: width 500ms}
.card:hover{width:315px;box-shadow: 8px 10px 20px #AAAAAA}
.footer{width:100%}

